:root{
    --violet-black: rgb(55, 27, 88);
    --violet-semiblack: rgb(76, 53, 117);
    --violet-semiwhite: rgb(91, 75, 138);
    --violet-white: rgb(120, 88, 166);
    --white: rgb(245, 245, 245);
    --black: rgb(22, 22, 22);
}