@import './../../index.css';
@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.billboard{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    font-family: 'Roboto';
    margin: 2em 0;
}

.billboard .billboard--container{
    background-color: var(--black);
    margin: 1em;
    height: 20em;
    position: relative;
    display: flex;
    border-radius: 5px;
    opacity: 1;
    transition: opacity .75s ease-in;
}
/* MODIFICADOR DE LA CARD DE LA PELICULA, SI NO SE VE EN EL VIEWPORT NO SE RENDERIZA */
.billboard .billboard--container__notrender{
    opacity: 0;
    transition: opacity 1s ease-in;
}


.billboard .billboard--container .billboard--poster{
    width: 50%;
    border-radius: 5px 0 0 5px;
}
.billboard .billboard--container .billboard--info{
    width: 50%;
    margin: 1em;
}
.billboard .billboard--container .billboard--info .billboard--title{
    text-align: center;
    color: var(--violet-white);
    font-size: 1.25em;    
}
.billboard--description{
    line-height: 1.25em;
    color: var(--white);
    font-size: 1em;
    margin: 1em 0 0 0;
}

/* BUTTONS */

.billboard--container--button{
    position: absolute;
    display: flex;
    gap: 1em;
    bottom: 2em;
    right: 1em;
}
.billboard--button{
    border: none;
    background-color: var(--violet-black);
    color: var(--white);
    font-weight: bold;
    padding: 0.5em 1em;
    font-size: 1em;
    border: 1px solid var(--violet-white);
    border-radius: 5px;
}.billboard--button:hover{
    cursor: pointer;
    background-color: var(--violet-white);
    transition: .3s;
    box-shadow: 0px 0px 10px 0px var(--black);
    -webkit-box-shadow: 0px 0px 10px 0px var(--black);
    -moz-box-shadow: 0px 0px 10px 0px var(--black);
}
.billboard--link{
    text-decoration: none;
    color: var(--white);
}

/* SI LA PELÍCULA ES UN ESTRENO */
.billboard--comingsoon{
    position: absolute;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    top: -1em;
    left: -0.5em;
    padding: 1em;
    border-radius: 15px 0 0 0;
    box-shadow: 0px 0px 10px 0px var(--black);
    -webkit-box-shadow: 0px 0px 10px 0px var(--black);
    -moz-box-shadow: 0px 0px 10px 0px var(--black);
}

/* SOLO PARA TESTEAR LOS VISIBILITY HIDDEN DE LAS CARDS */
.billboard--footer{
    height: 30em;
}