@import "../../../index.css";


  .admin--menu--container{  
    display: flex;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--white);
    user-select: none;
  }
  
  .admin--menu{
    min-width: 70%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .admin--menu--header{
  
  }
  .admin--menu--movie--options{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .admin--menu--user--options{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.admin--button {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  width: 7rem;
  height: 0.5rem;
  background: none;
  border: 3px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0.5rem auto;
  padding: 1.5rem 10rem;
  position: relative;
  
}

.admin--button::before,
.admin--button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.admin--button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
  
}

.admin--button:hover {
  color: var(--violet-black);

}

.admin--button:hover:after {
  height: 100%;
}
