@import './../../index.css';

.home--container{
  min-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  user-select: none;
}