@import './../../index.css';

.socialMedia--container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-width: 100%;
  max-width: fit-content;
  
  background-color: var(--violet-black);
  user-select: none;
}

.socialMedia--logo--container{
  margin: 1rem;
}

.socialMedia--logo{
  width: 4rem;  
  margin: 0.5rem;
  
  transition: all 0.2s ease-in-out;
}

.socialMedia--logo:hover{
  transform: scale(1.1,1.1);
}
