@import './../../index.css';

.socialMedia--container{
  min-width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--violet-semiblack);
}
.socialMedia--twitter{
  margin: 1rem;

}
.socialMedia--facebook{
  margin: 1rem;

}
.socialMedia--instagram{
  margin: 1rem
}

.socialMedia--image{
  width: 2rem;  
}
