.SearchBar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Searchlogo{
    max-height: 3rem;
    max-width: 3rem;
    min-height: 1rem;
    min-width: 1rem;

    border-radius: 999999rem;
}

.Searchlogin{
    max-height: 3rem;
    max-width: 3rem;
    min-height: 1rem;
    min-width: 1rem;

    border-radius: 999999rem;
}