.create--movie--container{
  display: flex;
  justify-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.create--movie{
  min-width: 50rem;
  display: flex;
  align-items: left;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-radius: 3%;
}
.create--movie--form{
  display: flex;
  flex-direction: column;
}
.create--movie--form--input{}
.create--movie--submit--button{}
.go--back--button{}
