@import './../../index.css';

.carrousel--container{
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  min-width: 100%;
  max-width:max-content;
  background-color: var(--violet-black);
  user-select: none;
}

.carrousel--left--arrow{
  width: 1rem;
  left: 0;
  opacity: 1;
  color: var(--violet-black);
}

.carrousel--right--arrow{
  width: 1rem;
  left: 0;
  opacity: 1;
  color: var(--violet-black)
}

.carrousel--image--active{
  opacity: 1;
	transition: all 2s ease-out;
  max-height: fit-content;
}

.carrousel--image--inactive{
  opacity: 0;
	transition: all 2s ease-out;
}

.carrousel--image{
  
  height: 200px;
  width: 650px;
}