@import url(../../index.css);

.header--container{
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-width: 100%;
  background-color: var(--violet-black);
}

.header--menu--ico{
}

.header--logo--menu{
  justify-self: center;
}

.header--user--ico{
}