@import url(../../index.css);

@media (min-width: 300px){
    .NavBar-container {
        background-color: var(--violet-semiwhite);
        display: flex;
        flex-direction: column;

    }
    .NavBar-username {
        display: flex;
        flex-direction:row;
        justify-content: flex-end;

        padding-right: 2%;
    }
    .NavBar-items{
        background-color: var(--violet-semiwhite);
        display: flex;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        user-select: none;
    }
    .NavBar-menu {
        min-height: 2rem;
        min-width: 20%;

        margin-left: 0.5rem;
    }

}